<div class="box-wh w100">
  <h1 class="mat-headline">Width/Height</h1>
  <div class="fx-row fx-gap-20">
    <div class="fx-col">
      <mat-radio-group class="fx-col fx-gap-30" [(ngModel)]="widthHeight.radioValue">
        <mat-radio-button [value]="true" name="both">
          <div class="fx-row fx-start-center fx-gap-20">
            <span class="w-100">Both</span>
            <mat-form-field>
              <mat-label>Width/Height</mat-label>
              <input [disabled]="!widthHeight.radioValue" matInput type="number" min="0" [(ngModel)]="widthHeight.bothSizes" />
            </mat-form-field>
          </div>
        </mat-radio-button>
        <mat-radio-button [value]="false">
          <div class="fx-row fx-gap-20 fx-start-center">
            <span class="w-100">Separated</span>
            <div class="fx-col fx-gap-20">
              <mat-form-field>
                <mat-label>Width</mat-label>
                <input [disabled]="widthHeight.radioValue" matInput type="number" min="0" [(ngModel)]="widthHeight.width" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Height</mat-label>
                <input [disabled]="widthHeight.radioValue" matInput type="number" min="0" [(ngModel)]="widthHeight.height" />
              </mat-form-field>
            </div>
          </div>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="fx-col w100 fx-start-center fx-gap-10">
      <pre class="mat-small">
        class="{{widthHeight.getClasses()}}"
      </pre>
      <div class="mat-color-red" [ngClass]="widthHeight.getClasses()"></div>
    </div>
  </div>
</div>