<div class="fx-col box-elevation">
  <h1 class="mat-headline">Elevation</h1>
  <div class="fx-row w100 fx-gap-30">
    <div class="fx-col fx-start-center fx-gap-10">
      <div class="wh-100 mat-color-red elevation-1"></div>
      <pre>class="elevation-1"</pre>
    </div>
    <div class="fx-col fx-start-center fx-gap-10">
      <div class="wh-100 mat-color-blue elevation-2"></div>
      <pre>class="elevation-2"</pre>
    </div>
    <div class="fx-col fx-start-center fx-gap-10">
      <div class="wh-100 mat-color-green elevation-3"></div>
      <pre>class="elevation-3"</pre>
    </div>
    <div class="fx-col fx-start-center fx-gap-10">
      <div class="wh-100 mat-color-yellow elevation-4"></div>
      <pre>class="elevation-4"</pre>
    </div>
  </div>
</div>
