<p>
  <mat-toolbar color="primary">
    <span>My Application</span>
  </mat-toolbar>
</p>

<div class="fx-col px-200 pt-100 pb-500 fx-gap-50">
  <div class="fx-row fx-gap-50">
    <app-box-elevation></app-box-elevation>
    <app-box-width-height></app-box-width-height>
  </div>
  <div class="fx-row">
    <app-box-padding-margin></app-box-padding-margin>
  </div>
  <div class="fx-row">
    <app-box-flex class="w100"></app-box-flex>
  </div>
  <div class="fx-row">
    <app-box-palette class="w100"></app-box-palette>
  </div>
</div>
