<div class="fx-col box-elevation">
  <h1 class="mat-headline">Flex-layout</h1>
  <div class="flex-box h-500 w100" [ngClass]="getClasses()">
    <div class="elevation-2 p-50 item-box mat-color-red"></div>
    <div class="elevation-2 p-40 pl-70 item-box mat-color-blue"></div>
    <div class="elevation-2 p-10 pt-80 item-box mat-color-green"></div>
    <div class="elevation-2 p-50 pt-80 item-box mat-color-deep-purple"></div>
    <div class="elevation-2 p-25 item-box mat-color-teal"></div>
  </div>
</div>
<pre> class="{{ getClasses() }}"</pre>
<div class="fx-row fx-gap-100">
  <div class="fx-col">
    <mat-radio-group class="fx-col fx-gap-20" [(ngModel)]="config.direction">
      <mat-radio-button *ngFor="let dir of directions" [value]="dir" name="dir">
        {{ dir }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="fx-col">
    <mat-radio-group class="fx-col fx-gap-20" [(ngModel)]="config.align">
      <mat-radio-button *ngFor="let align of aligns" [value]="align" name="align">
        {{ align }} {{align === 'start' ? '(default)': ''}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="fx-col">
    <mat-radio-group class="fx-col fx-gap-20" [(ngModel)]="config.perpendicular">
      <mat-radio-button *ngFor="let per of perpendicular" [value]="per" name="per">
        {{ per }} {{per === 'start' ? '(default)': ''}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field>
    <mat-label>Gap</mat-label>
    <input matInput min="0" type="number" [(ngModel)]="config.gap" />
  </mat-form-field>
</div>
