<div class="fx-col box-elevation w100">
  <h1 class="mat-headline">Padding/Margin</h1>
  <div class="fx-row fx-gap-20">
    <div class="border-box mat-color-red-300 wh-200">
      <div class="mat-color-blue wh-100 mt-30">
        <span class="mat-small">class="mt-30"</span>
      </div>
    </div>
    <div class="border-box mat-color-red-300 wh-200 pl-30">
      <div class="mat-color-blue wh-100">
      </div>
      class="pl-30"
    </div>
    <div class="border-box mat-color-red-300 wh-200 px-30">
      <div class="mat-color-blue w100 h-100">
      </div>
      class="px-30"
    </div>
    <div class="border-box mat-color-red-300 wh-200 p-30">
      <div class="mat-color-blue wh100">
      </div>
      class="p-30"
    </div>
  </div>
</div>
